body {
    background-image: url(back.png);
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 60px;
    position: relative;
    top: 125px;
}

h2 {
    text-align: center;
    font-size: 30px;
    position: relative;
    top: 430px;
    font-family: 'Work Sans', sans-serif;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img {
    height: 300px;
    width: auto;
}

h3 {
    text-align: center;
    font-size: 25px;
    position: relative;
    top: 650px;
    font-family: 'Work Sans', sans-serif;
}